# Import Library yang diperlukan

In [1]:
import pandas as pd

### Contoh untuk Membuat Tabel Kebenaran P and Q

In [2]:

row = []
for p in [True, False]:
    for q in [True, False]:
        prop1 = p and q
        row.append(pd.DataFrame({'P': [p], 'Q': [q], 'P & Q': [prop1]}))

tb_p_dan_q = pd.concat(row, ignore_index=True)

### Tampilkan tabel

In [3]:
tb_p_dan_q

       P      Q  P & Q
0   True   True   True
1   True  False  False
2  False   True  False
3  False  False  False

### Latihan Soal
1. Tentukan apakah (~P & (P ==> Q)) ==> ~Q adalah tautologi?

In [4]:
dfs = []
tautologi = True
for p in [True, False]:
    for q in [True, False]:
        prop1 = not p
        prop2 = not q
        prop3 = q if p else True
        prop4 = prop1 and prop3
        prop5 = prop2 if prop4 else True
        if(not prop5):
            tautologi = False
        dfs.append(pd.DataFrame({'P': [p], 
                                 'Q': [q], 
                                 '~P': [prop1], 
                                 '~Q':[prop2],
                                 'P ==> Q':[prop3],
                                 '~P & (P ==> Q)': [prop4],
                                 '~P & (P ==> Q) ==> ~Q' : [prop5]
                                }))

tb_soal_1 = pd.concat(dfs, ignore_index=True)

if(tautologi):
    print("Merupakan Tautologi")
else:
     print("Bukan Merupakan Tautologi")

Bukan Merupakan Tautologi

In [5]:
tb_soal_1

       P      Q     ~P     ~Q  P ==> Q  ~P & (P ==> Q)  ~P & (P ==> Q) ==> ~Q
0   True   True  False  False     True           False                   True
1   True  False  False   True    False           False                   True
2  False   True   True  False     True            True                  False
3  False  False   True   True     True            True                   True

2. Tentukan apakah P <=> Q dan (p & q) | (~p & ~q) adalah ekivalen?

In [35]:
dfs = []
ekivalen = True
for p in [True, False]:
    for q in [True, False]:
        prop1 = not p
        prop2 = not q
        prop3 = p and q
        prop4 = prop1 and prop2
        prop5 = prop3 or prop4
        prop6 = (q if p) and (p if q else True)
        prop7 = (prop5 if prop6 else True) and (prop6 if prop5 else True)
        if(not prop7):
            ekivalen = False
        dfs.append(pd.DataFrame({'P': [p], 
                                 'Q': [q], 
                                 '~P': [prop1], 
                                 '~Q':[prop2],
                                 'P & Q':[prop3],
                                 '~P & ~Q': [prop4],
                                 '(p & q) | (~p & ~q)' : [prop5],
                                 'p <=> q' : [prop6],
                                 '((p & q) | (~p & ~q)) <=> (p <=> q)':[prop7]
                                }))
tb_soal_2 = pd.concat(dfs, ignore_index=True)

if(ekivalen):
    print("Merupakan Ekivalen")
else:
     print("Bukan Merupakan Ekivalen")

Merupakan Ekivalen

In [36]:
tb_soal_2

,P,Q,~P,~Q,P & Q,~P & ~Q,(p & q) | (~p & ~q),p <=> q,((p & q) | (~p & ~q)) <=> (p <=> q)
0,True,True,False,False,True,False,True,True,True
1,True,False,False,True,False,False,False,False,True
2,False,True,True,False,False,False,False,False,True
3,False,False,True,True,False,True,True,True,True

## Notes : 
- Penentuan Tautologi harus menggunakan program bukan menentukan berdasarkan hasil output tabel
- penentuan prop1, prop2, prop3, dst ... harus runtun, jelas dan rapih

3. SUS banget

Di kelas ada 3 orang yang mungkin saja seorang SUS bernama Ajib, Layka, dan Zamtum yang hanya dapat berbohong atau jujur.

- Layka berkata : "Aku bukan orang SUS, Zamtumlah orang SUS"
- Zamtum : "Ajib adalah orang SUS"
- Ajib : "Aku jujur dan bukan orang SUS, Layka dan Zamtum pembohong!"


Dari ketiga pernyataan tadi dengan uji tabel kebenaran tentukanlah siapa orang yang dapat dipastikan SUS (orang yang berbohong ) di antara ketiganya! (orang sus mungkin saja >1)

Pembahasan

Kita dapat membuat proposisi 

- L = menyatakan bahwa Layka jujur
- Z = menyatakan bahwa Zamtum jujur
- A = menyatakan bahwa Azib jujur.


masing - masing L,Z, dan A dapat bernilai TRUE/FALSE.

Dari proposisi di atas kita dapat menggunakan kaidah interferensi untuk menentukan bahwa
- Jika Layka jujur maka Zamtum berbohong dan berlaku sebaliknya : (L <=> ~Z)
- Jika Zamtum jujur maka Layka berbohong dan Ajib juga berbohong : (Z <=> ~L & ~A)
- Jika Ajib jujur maka Layka dan Zamtum berbohong: (A <=> ~L & ~Z)

Kita bisa membuat uji dengan tabel kebenaran

In [37]:
dfs = []
for L in [True, False]:
    for Z in [True, False]:
        for A in [True,False]:
            prop1 = not L
            prop2 = not Z
            prop3 = not A
            prop4 = prop1 and prop2
            prop5 = prop1 and prop3
            prop6 = (prop2 if L else True) and (L if prop2 else True)
            prop7 = (Z if prop5 else True ) and (prop5 if Z else True)
            prop8 = (A if prop4 else True ) and (prop4 if A else True)
            dfs.append(pd.DataFrame({'L': [L], 
                                    'Z': [Z], 
                                    'A': [A], 
                                    '~L':[prop1],
                                    '~Z':[prop2],
                                    '~A':[prop3],
                                    '~L & ~Z':[prop4],
                                    '~L & ~A': [prop5],
                                    'L <=> ~Z' : [prop6],
                                    'Z <=> ~L & ~A' : [prop7],
                                    'A <=> ~L & ~Z':[prop8]
                                    }))
tb_soal_3 = pd.concat(dfs, ignore_index=True)

In [38]:
tb_soal_3

,L,Z,A,~L,~Z,~A,~L & ~Z,~L & ~A,L <=> ~Z,Z <=> ~L & ~A,A <=> ~L & ~Z
0,True,True,True,False,False,False,False,False,False,False,False
1,True,True,False,False,False,True,False,False,False,False,True
2,True,False,True,False,True,False,False,False,True,True,False
3,True,False,False,False,True,True,False,False,True,True,True
4,False,True,True,True,False,False,False,False,True,False,False
5,False,True,False,True,False,True,False,True,True,True,True
6,False,False,True,True,True,False,True,False,False,True,True
7,False,False,False,True,True,True,True,True,False,False,False

Periksa baris yang mengandung kolom L <=> ~Z, Z <=> ~L & ~A, dan A <=> ~L & ~Z bernilai benar

Kita lihat misalkan Layka Jujur

In [39]:
tb_soal_3[tb_soal_3["L"]==True]

,L,Z,A,~L,~Z,~A,~L & ~Z,~L & ~A,L <=> ~Z,Z <=> ~L & ~A,A <=> ~L & ~Z
0,True,True,True,False,False,False,False,False,False,False,False
1,True,True,False,False,False,True,False,False,False,False,True
2,True,False,True,False,True,False,False,False,True,True,False
3,True,False,False,False,True,True,False,False,True,True,True

Terlihat bahwa ada kemungkinan Layka Jujur yaitu pada baris ke-3

In [45]:
tb_soal_3[tb_soal_3["L"]==True][tb_soal_3["L <=> ~Z"]==True][tb_soal_3["Z <=> ~L & ~A"]==True][tb_soal_3["A <=> ~L & ~Z"]==True]

C:\Users\asus\AppData\Local\Temp\ipykernel_21428\3263925226.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_soal_3[tb_soal_3["L"]==True][tb_soal_3["L <=> ~Z"]==True][tb_soal_3["Z <=> ~L & ~A"]==True][tb_soal_3["A <=> ~L & ~Z"]==True]

,L,Z,A,~L,~Z,~A,~L & ~Z,~L & ~A,L <=> ~Z,Z <=> ~L & ~A,A <=> ~L & ~Z
3,True,False,False,False,True,True,False,False,True,True,True

Misalkan Zamtum Jujur

In [40]:
tb_soal_3[tb_soal_3["Z"]==True]

,L,Z,A,~L,~Z,~A,~L & ~Z,~L & ~A,L <=> ~Z,Z <=> ~L & ~A,A <=> ~L & ~Z
0,True,True,True,False,False,False,False,False,False,False,False
1,True,True,False,False,False,True,False,False,False,False,True
4,False,True,True,True,False,False,False,False,True,False,False
5,False,True,False,True,False,True,False,True,True,True,True

Ada kemungkinan Layka Jujur yaitu pada baris ke - 5

In [46]:
tb_soal_3[tb_soal_3["Z"]==True][tb_soal_3["L <=> ~Z"]==True][tb_soal_3["Z <=> ~L & ~A"]==True][tb_soal_3["A <=> ~L & ~Z"]==True]

C:\Users\asus\AppData\Local\Temp\ipykernel_21428\2803006408.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_soal_3[tb_soal_3["Z"]==True][tb_soal_3["L <=> ~Z"]==True][tb_soal_3["Z <=> ~L & ~A"]==True][tb_soal_3["A <=> ~L & ~Z"]==True]

,L,Z,A,~L,~Z,~A,~L & ~Z,~L & ~A,L <=> ~Z,Z <=> ~L & ~A,A <=> ~L & ~Z
5,False,True,False,True,False,True,False,True,True,True,True

In [41]:
tb_soal_3[tb_soal_3["A"]==True]

,L,Z,A,~L,~Z,~A,~L & ~Z,~L & ~A,L <=> ~Z,Z <=> ~L & ~A,A <=> ~L & ~Z
0,True,True,True,False,False,False,False,False,False,False,False
2,True,False,True,False,True,False,False,False,True,True,False
4,False,True,True,True,False,False,False,False,True,False,False
6,False,False,True,True,True,False,True,False,False,True,True

In [47]:
tb_soal_3[tb_soal_3["A"]==True][tb_soal_3["L <=> ~Z"]==True][tb_soal_3["Z <=> ~L & ~A"]==True][tb_soal_3["A <=> ~L & ~Z"]==True]

C:\Users\asus\AppData\Local\Temp\ipykernel_21428\671441810.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tb_soal_3[tb_soal_3["A"]==True][tb_soal_3["L <=> ~Z"]==True][tb_soal_3["Z <=> ~L & ~A"]==True][tb_soal_3["A <=> ~L & ~Z"]==True]

Empty DataFrame
Columns: [L, Z, A, ~L, ~Z, ~A, ~L & ~Z, ~L & ~A, L <=> ~Z, Z <=> ~L & ~A, A <=> ~L & ~Z]
Index: []

Sayangnya tidak ada tabel yang memenuhi L <=> ~Z , Z <=> ~L & ~A, dan A <=> ~L & ~Z. Sehingga dapat dipastikan Ajib pastilah orang SUS (berbohong)

# PR WLEE 😜

1. Buatlah tabel kebenaran secara rinci dan baik untuk proposisi di bawah ini!
Exercise 1.1 No.37 <br>
a) p → (¬q ∨ r) <br>
b) ¬p → (q → r) <br>
c) (p → q) ∨ (¬p → r) <br>
d) (p → q) ∧ (¬p → r) <br>
e) (p ↔ q) ∨ (¬q ↔ r) <br>
f) (¬p ↔ ¬q) ↔ (q ↔ r)

2. Show that each of these conditional statements is a tautology by using truth tables.<br>
a) [¬p ∧ (p ∨ q)] → q <br>
b) [(p → q) ∧ (q → r)] → (p → r) <br>
c) [p ∧ (p → q)] → q <br>
d) [(p ∨ q) ∧ (p → r) ∧ (q → r)] → r <br>

3. Show that (p ∧ q) → r and (p → r) ∧ (q → r) are not
logically equivalent.

4. Seorang detektif sedang menangani sebuah kasus kriminal. Ada 4 orang tersangka berinisial
G, O, L, D. Dari hasil interogasi, detektif tersebut mendapatkan sejumlah fakta, yaitu :
- Jika G berkata jujur, maka O berkata jujur.
- Jika L berkata bohong, maka D berkata jujur.
- Salah satu dari O dan L berkata jujur.
- O berkata jujur jika dan hanya jika D berkata bohong.
Dari sejumlah fakta di atas, siapa yang berkata jujur? buatlah pembuktiannya dengan tabel kebenaran!